# Ignorar arquivos de ambiente
.env
.venv/
__pycache__/
*.pyc

app/static/asset/
# IDEs comuns
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
.DS_Store

# Saídas de testes e builds
dist/
build/
*.egg-info/
app/asset/Entrevista_João_360.mp4
